.btn-success {
    color: #fff;
    background-color: #228E9A;
    border-color: #228E9A
}

.btn-success:hover {
    color: #fff;
    background-color: #136686;
    border-color: #136686
}

.panel-default > .panel-heading {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background-color: #228E9A;
    border-color: #228E9A
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #136686
}

